{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <h1>New review</h1>
    <p>Movie: {{ movie.movieTitle }}</p>
    {% form_theme form 'form_table_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}