{% extends 'base.html.twig' %}
{% block content %}
    <div class="flex-cont-col">
        
        <!-- Search form -->
        <form class="form-inline">
            <input class="form-control" id="search-param" type="text" placeholder="Search" aria-label="Search">
            <button type="button" class="btn btn-default" aria-label="Left Align" onclick="onMovieSearchClick()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </form>
                            
        <div class="pagerfanta">
            {{ pagerfanta(pager, 'twitter_bootstrap3') }}
        </div>
        {% for movie in pager.currentPageResults %}
            <div class="movie-div">
                <a href="{{ path('showmovie', {'movieId':movie.id}) }}">
                    <p class="movie-title">{{ movie.movieTitle }} ({{ movie.movieYear }})</p>
                    <div class="movie-picplot">
                        <img class="movie-img" alt="no picture available" src="{{ vich_uploader_asset(movie, 'imageFile') }}"/>
                        <p class="movie-plot width2">{{ movie.moviePlot|length > 300 ? movie.moviePlot|slice(0, 300) ~ '...' : movie.moviePlot  }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}